
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="header-brand" href="#" id="header-sidebar-btn">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <a class="navbar-brand" href="#">Auswertung</a>
</nav>

