<div class="sidebar sidebar-show" id="sidebar">
    <ul class="sidebar-nav">
        <li class="nav-title">Statistik</li>
        <li class="nav-item">

            <a class="nav-link" href="{{ path('dashboard') }}">
                <i class="fa fa-chart-pie nav-icon"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link" href="{{ path('appointment_list_index') }}">
                <i class="fa fa-table nav-icon"></i> Terminübersicht
            </a>
        </li>
    </ul>
    <button class="sidebar-toggler" type="button" id="sidebar-toggler"></button>
</div>