{% extends 'main.html.twig' %}

{% block title %}Neuer Termin{% endblock %}

{% block content %}
    <h1>Neuen Termin erstellen</h1>
    {{ include('appointment_list/_form.html.twig') }}


{% endblock %}
